/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}


*,*::before,*::after{
    box-sizing: border-box;
}


/* header */
.wrap{
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header  a{
    color: white;
    background-color: #FF5D50;
    display: block;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 22px;
}

.header a:hover{
    color: #FF5D50;
    background-color: white;
    border: 1px solid #FF5D50;
}

.header h1 a{
    display: block;
    background-color: white;   
}

.header h1 a:hover{
    border: none;
}

.header h1 img{
    width: 218px;
    height: 40px;  
}


.container{
    padding: 0 16px;
    max-width: 1088px;
    margin: 0 auto;
    /* border: 1px solid #000; */
}

/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 217px;
}
.banner_text{
    width: 50%;
}
.banner_text h2{
    font-size: 18px;
    color: #56C4C5;
    font-weight: bold;
    margin-bottom: 8px;
}
.banner_text h3{
    font-size: 48px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 16px;
}
.banner_text p{
    font-size: 20px;
}

.banner img{
    max-width: 532px;
    height: 534px;
}
/* slogan1  */
.slogan1{
    margin-bottom: 100px;
}

.slogan1 h2{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 48px;
}

.list1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}

.list1 li{
    width: 30%;
    text-align: center;
}

.list1 img{
    width: 90px;
    height: 90px;
    margin-bottom: 24px;

}
.list1 h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

.list1 p{
    color: #747474;
    padding: 0px 10px;
    letter-spacing: 0px;
    line-height: 1.5;
}

/* slogan2  */
.slogan2 h2{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.slogan2 p{
    font-size: 20px;
    margin-bottom: 48px;
    text-align: center;
}

.list2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}

.list2 li{
    width: 22%;
    text-align: center;
}

.list2 img{
    max-width: unset;
    border-radius: 12px 12px 0px 0px;

}

.list2 h3{
    color: #56C4C5;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
}
.list2 p{
    line-height: 1.5;
    font-size: 16px;
}

/* slogan3  */
.slogan3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.list3{
    display: flex;
    justify-content: space-between;
    width: 50%;
    flex-wrap: wrap;
    flex-shrink: 1;
    /* border: 1px solid #000; */
}
.list3 ul{
    display: flex;
    /* border: 1px solid #000; */
    flex-wrap: wrap;
}
.list3 li{
    width: 50%;
    padding: 32px 32px 48px;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 2px 10px #00000014;
}

.list3 img{
    width: 86px;
    height: 86px;
    margin-bottom: 41px;
    padding: 17px;
}
.list3 h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}
.list3 p{
    line-height: 1.5;
    font-size: 16px;
}
.know_custom{
    /* border: 1px solid #000; */
    width: 50%;
}

.know_custom h2{
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 16px;
}

.know_custom p{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.know_custom a{
    color: white;
    background: #56C4C5;
    border-radius: 27px;
    text-decoration:none;
    display: inline-block;
    padding: 12px 32px;
}
.know_custom a:hover{
    border: 1px solid #56C4C5;
    background-color: white;
    color: #56C4C5;
}

/* comment */
.comment h2{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.review{
    display: flex;
}

.review li{
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    background-color: #fff;
    padding: 48px 32px;
}

.review p{
    line-height: 1.5;
    margin-bottom: 48px;
    font-size: 14px;
}
.review img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.review h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}
.usertitle {
    display: flex;
    justify-content: space-between;
}

.usertitle img{
    width: 18px;
    height: 18px;
}

/* footer */
.footer-plan{
    background-image: url("https://raw.githubusercontent.com/AtienBen/ChatTalker/main/img/home_footer.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 503px;
    position: relative;
    justify-content: center;
    text-align: center;
    padding-top: 300px;
}
.footer-plan h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 48px;
    font: Noto Sans TC;
    
}
.footer-plan a{
    color: white;
    background: #56C4C5;
    border-radius: 27px;
    text-decoration:none;
    display: inline-block;
    padding: 12px 32px;
    margin-top: 48px;
}
.footer-plan a:hover{
    border: 1px solid #56C4C5;
    background-color: white;
    color: #56C4C5;
}

.footer{
    background-color: #F5F5F5;
    text-align: center;
    
}
@media (max-width:992px) {
    .wrap {
        padding-top: 120px;
    }
    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 199;
        border-bottom: 2px solid #FFD153;
        /* padding: 24px 20px; */
        background-color: white;
    }

    .banner{
        flex-direction: column;
    }
    .banner_txt {
        width: 100%;
    }
    .banner img {
        max-width: 480px;
        height: 500px;
    }
    .slogan2{
        flex-wrap: wrap;
    }
    .slogan2 li{
        width: 48%;
    }
    .slogan3{
        flex-direction: column;
    }
    .list3{
        width: 90%;
    }
    .slogan3 li{
        width: 48%;
        margin-bottom: 30px;
    }
    .know_custom{
        width: 90%;
    }
}

@media (max-width:576px){
    
    .list1{
        flex-direction: column;
        align-items: center;
    }
    .list1 li{
        width: 90%;
        margin-bottom: 20px;
    }
    .slogan2 li{
        width: 70%;
    }

    .slogan3 li{
        width: 80%;
        align-items: center;
    }
    .review {
        flex-direction: column;
        align-items: center;
    }
    .review li{
        width: 80%;
    }

}
